[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#####################################################################
#   Includes Configs
#####################################################################

[include mainsail.cfg]
[include nozzle_wipe.cfg]
[include stealthburner_leds.cfg]
[include macros.cfg]
[include KAMP_Settings.cfg]
[include fluidd.cfg]
[include timelapse.cfg]


#####################################################################
#   Controllers Definition
#####################################################################

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_34003C000C50335331383820-if00
restart_method: command
##--------------------------------------------------------------------

[temperature_sensor OctopusPro]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu

[temperature_sensor RaspberryPi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

# Canbus!
[mcu EBBCan]
# canbus_uuid:9d086386833f
canbus_uuid:e85fc9845d97

# SB2240 Sensor
[temperature_sensor SB2209]
sensor_type: Generic 3950
sensor_pin: EBBCan: gpio28


#####################################################################
#   Printer Settings
#####################################################################

[printer]
kinematics: corexy
max_velocity: 600  
max_accel: 14000             
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[idle_timeout]
timeout: 3600

[input_shaper]
#shaper_freq_x: 49.8
#shaper_type_x: mzv
#shaper_freq_y: 51.0
#shaper_type_y: ei

[exclude_object]


#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
[stepper_x]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
# endstop_pin: PG6
endstop_pin: !EBBCan: gpio24
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PD11
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

##  A Stepper - Right
[stepper_y]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: !PG6
position_min: 0
position_endstop: 350
position_max: 353
homing_speed: 100  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC4
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
[stepper_z]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 310
position_min: -5
homing_speed: 12
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
[stepper_z1]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
[stepper_z2]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
[stepper_z3]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Toolhead
#####################################################################

# LE Sigh, Throwing Undervoltage Warnings. Attempting to follow this: https://github.com/Esoterical/voron_canbus/blob/main/toolhead_flashing/common_hardware/BigTreeTech%20SB2209%20and%20SB2240/SB2240%20Stepper%20Configuration%20and%20Undervoltage.md

[extruder]
step_pin: EBBCan: gpio18
dir_pin: EBBCan: gpio19
enable_pin: !EBBCan: gpio17
microsteps: 32
full_steps_per_rotation: 200
gear_ratio: 50:10
rotation_distance: 22.2968241443
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 8
heater_pin: EBBCan: gpio7
sensor_type: Generic 3950
sensor_pin: EBBCan: gpio27
min_temp: 0
max_temp: 280
instantaneous_corner_velocity: 1.5
pwm_cycle_time: 0.02
max_power: 0.8
min_extrude_temp: 170

[tmc2209 extruder]
uart_pin: EBBCan: gpio20
run_current: 0.650
stealthchop_threshold: 999999


[firmware_retraction]
retract_length: 0.5
retract_speed: 35
unretract_speed: 35

# Parts Cooling Fan
[fan]
pin: EBBCan: gpio13

[heater_fan hotend_fan]
pin: EBBCan: gpio14
heater: extruder
heater_temp: 50.0

# [neopixel hotend_rgb]
# pin: EBBCan:PD3
# chain_count: 3
# color_order: GRBW

## NPN and PNP proximity switch types can be set by jumper
[probe]
pin: ^EBBCan: gpio22

[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 100, 100, 20
accel_chip: adxl345


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
# sensor_type: EPCOS 100K B57560G104F # DeleteMe
sensor_pin: PF3
max_power: 0.6
min_temp: 0
max_temp: 120


#####################################################################
#   Chamber
#####################################################################

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: 0
max_temp: 100
gcode_id: C


#####################################################################
#   Probe
#####################################################################

[probe]
x_offset: 0
y_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
# samples_tolerance: 0.006 # Consider switching back
samples_tolerance: 0.01
samples_tolerance_retries: 3
activate_gcode:
    {% set PROBE_TEMP = 200 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
      {% endif %}


#####################################################################
#   Fan Control
#####################################################################

[multi_pin multi_controller_fan]
pins: PA8, PE5

#  Controller fan
[controller_fan controller_fan]
pin: multi_pin:multi_controller_fan
kick_start_time: 0.5
heater: heater_bed

## Nevermore Fans
[fan_generic nevermore_fans]
pin: PD12
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 10.0

##  Exhaust fan - FAN3
#[heater_fan exhaust_fan]
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

## Probs delete below
##  Hotend Fan - FAN1
# [heater_fan hotend_fan]
# pin: PE5
# max_power: 1.0
# kick_start_time: 0.5
# heater: extruder
# heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

# ##  Controller fan - FAN2
# [controller_fan controller_fan]
# pin: PA8
# kick_start_time: 0.5
# heater: heater_bed

# ##  Controller fan - FAN2
# [controller_fan controller_fan2]
# pin: PE5
# kick_start_time: 0.5
# heater: heater_bed


#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
home_xy_position:175,175
speed:100
z_hop:10

##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]
speed: 400
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10
gantry_corners:
   -60,-10
   410,420
points:
   50,25
   50,275
   300,275
   300,25


#####################################################################
#   Bed Mesh Config
#####################################################################
[bed_mesh]
speed: 300
horizontal_move_z: 10
mesh_min: 40, 40
mesh_max: 310,310
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5 # Values should be odd, so one point is directly at bed center
algorithm: bicubic

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 35.283
#*# pid_ki = 1.069
#*# pid_kd = 291.086
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.682
#*# pid_ki = 1.421
#*# pid_kd = 75.230
#*#
#*# [probe]
#*# z_offset = -1.520
#*#
#*# [bed_mesh 110-default]
#*# version = 1
#*# points =
#*# 	-0.011250, 0.015000, -0.001250, 0.012500, -0.010000
#*# 	-0.007500, -0.007500, -0.015000, -0.018750, -0.030000
#*# 	-0.023750, 0.002500, 0.008750, -0.002500, -0.027500
#*# 	0.000000, 0.043750, 0.050000, 0.040000, 0.020000
#*# 	0.007500, 0.026250, 0.043750, 0.071250, 0.041250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.098750, -0.017500, 0.016250, 0.033750, -0.066250
#*# 	  -0.088750, -0.010000, 0.016250, 0.007500, -0.092500
#*# 	  -0.093750, -0.020000, -0.008750, -0.040000, -0.116250
#*# 	  -0.057500, 0.018750, 0.040000, -0.007500, -0.048750
#*# 	  -0.066250, 0.012500, 0.021250, 0.013750, -0.006250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 34.2
#*# shaper_type_y = zv
#*# shaper_freq_y = 58.0
